temp/*
# Include data files that are tracked by Git LFS
data/*
!data/*.jsonl
# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/

# Project specific
local_output/*
.DS_Store

# IDE files
.idea/
.vscode/